@import '../style/var';
@import '../style/position';

#nav {
  padding: 30px;
  text-align: center;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

// .content__hd {}

.content__bd {
  text-align: center;
}