.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.abs-pos {
  position: absolute;
}

.rel-pos {
  position: relative;
}