$primary-color: #0073e8;
$dm-base-blue: #0092cd;

// 常用间隙大小
$gap-size-mini: 4px !default;
$gap-size-sm: 8px !default;
$gap-size: 10px !default;
$gap-size-md: 16px !default;
$gap-size-lg: 24px !default;
$gap-size-xlg: 32px !default;
